.ActionChoser {
    /*   transform: translateY(-100%); */
    overflow-y: auto;
}

@media (max-width:423px) {
    .ActionChoser {
        width: 90%;
    }
}
@media (max-width:296px) {
    .ActionChoser {
        width: 100%;
    }
}
@media (min-width:500px) {
    .ActionChoser {
        width: 60%;
    }
}