.container {
    /*  margin-top: 40px; */
    padding-top: 28px;
    width: 90%;
    min-height: 500px;
    margin-left: 5%;
    margin-right: 5%;
}

.listItem {
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listItem.span {
    text-overflow: ellipsis;
}